<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test name="TestShopCompleteOrderTest">
        <classes>
            <class name="tests.ShopCompleteOrderTest"/>
        </classes>
    </test><!-- Test -->
    <test name="TestShopAddRemoveItemTest">
        <classes>
            <class name="tests.ShopAddRemoveItemTest"/>
        </classes>
    </test><!-- Test -->
    <test name="TestLogin">
        <classes>
            <class name="tests.ShopLoginTest"/>
        </classes>
    </test>
    <test name="TestCreateAccount">
        <classes>
            <class name="tests.ShopRegistrationTest"/>
        </classes>
    </test>
</suite>